<nav class="navbar navbar-light bg-light">
      <%= link_to 'Miss Cocktail', cocktails_path, class: "navbar-brand text-secondary display-4 font-weight-bold" %>
      <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-outline-secondary my-2 my-lg-0" %>
    </nav>
